<h1>Add Event</h1>
<form method="post">
    <label for="name">Event Name</label>
    <input type="text" name="name" />
    @*<label for="name">Event Name</label>*@
    <label for="description">Event Description</label>
    <input type="text" name="description" />

    <input type="submit" value="Add Event" />
</form>